
:root {
    --hue: 159;
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: #0F241D;
    --text-color-light: #767676;
    --body-color: hsl(0% 0% 98%);
    --background0: #FFFFFF;
    --background1: #F9F9F9;
    --color-light-gray: #e4e4e4;
    --color-gradient1: linear-gradient(270deg, 
                                      var(--base-color) 0%, 
                                      var(--base-color-second) 100%);
    --color-gradient2: linear-gradient(90deg, 
                                      var(--base-color) 0%, 
                                      var(--base-color-second) 100%);
    --header-height: 4.2rem;
    --container-margin: 1.5rem;
    --transition-time: 0.2s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--text-color-light);
    background-color: var(--body-color);
    font: 400 1rem 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font: 700 2.25rem 'Poppins', sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    height: auto;
    width: 100%;
}

ul {
    list-style: none;
}

.container {
    margin: 0 var(--container-margin);
}

.toggle {
    cursor: pointer;
}

section {
    overflow: hidden;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.divider1 {
    clear: both;
    height: 1px;
    width: 100%;
    background: var(--color-gradient1);
}

.divider2 {
    height: 1px;
    width: 100%;
    background: var(--color-gradient2);
}

.toTopBTN { 
    position: fixed;
    display: flex;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: var(--base-color);
    color: var(--background0);
    align-items: center;
    justify-content: center;

    transition: 0.3s;
}

/*############### Header ###############*/

#header {
    width: 100%;
    height: var(--header-height);
    top: 0;
    border-bottom: 1px solid var(--color-light-gray);
    position: fixed;
    background-color: var(--background0);
    z-index: 5;
}

#header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo {
    font: 700 1.3125rem 'Poppins', sans-serif;
    color: var(--title-color);
}

#header .logo span {
    color: var(--base-color);
}

.header--menu {
    display: flex;
    height: 100%;
}

.header--menu > li {
    padding: 0 16px;
    height: 100%;
    font-weight: 400;
    position: relative;
}

.header--menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    height: 100%;
    width: 100%;
}

#header .header--menu > li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--base-color);
    
    position: absolute;
    bottom: 0;
    left: 0;

    transition: width var(--transition-time);
}

#header .header--menu > li > a:hover {
    color: var(--base-color);
    transition: color var(--transition-time);
}

#header .header--menu > li:hover::after {
    width: 100%;
}

#header .header--menu__open {
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: var(--background0);
}

#header .header--menu__open > li {
    color: var(--text-color);
    font-size: 1.875rem;
    font-weight: 800;
}


#header .icon-close, #header .icon-menu {
    position: absolute;
    right: var(--container-margin);
    color: var(--base-color);
    transition: var(--transition-time);
}

#header .icon-menu.hide {
    font-size: 4rem;
    right: calc(var(--container-margin) - 1.5rem);
}

#header .icon-close.hide {
    font-size: 0rem;
    right: calc(var(--container-margin) - 0rem);
}

#header.scroll {
    background-color: var(--base-color);
    border-color: var(--base-color);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    transition: var(--transition-time);
}

#header.scroll .header--menu > li:hover::after {
    background-color: var(--base-color-second);
}

#header.scroll .header--menu > li > a {
    color: var(--background0);
}

#header.scroll .header--menu > li > a:hover {
    color: var(--base-color-second);
    transition: var(--transition-time);
}

#header.scroll .logo span, #header.scroll .icon-menu {
    color: var(--background0);
}

#header.scroll .header--menu__open > li:hover::after {
    background-color: var(--base-color);
    transition: var(--transition-time);
}

#header.scroll .header--menu__open > li > a {
    color: var(--text-color);
}

#header.scroll .header--menu__open > li > a:hover {
    color: var(--base-color);
    transition: var(--transition-time);
}

/*############### INICIO ###############*/

#inicio {
    margin-top: var(--header-height);
    padding-top: 4.5rem; 
    padding-bottom: 5rem;
    background-color: var(--background1);
}

#inicio .container {
    display: grid;
    gap: 1rem;
}

.inicio--image {
    position: relative;
    left: calc(-1*var(--container-margin));
}

.inicio--image > img {
    width: 100%;
    border-radius: 0.25rem;
}

.inicio--image::before {
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 2.875rem;
    width: 100%;
    height: 100%;
    background-color: var(--base-color-second);
    z-index: -1;
    border-radius: 0.25rem;
}

.inicio--main {
    padding-top: 1.6rem;
    text-align: center;
}

.inicio--main > h1 {
    margin-bottom: 0.75rem;
}

.inicio--main > p {
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-flex;
    height: 3.12rem;
    font: 400 1rem 'DM Sans', sans-serif;
    background-color: var(--base-color);
    color: var(--background1);
    padding: 0 2rem;
    border-radius: 0.25rem;
    align-items: center;
    font: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--base-color-alt);
    transition: background-color var(--transition-time);
}

/*############### Sobre ###############*/

#sobre {
    padding-top: 6.25rem;
    padding-bottom: 5rem;
}

#sobre .container {
    display: grid;
    gap: 2rem;
}

.sobre--image {
    position: relative;
    left: calc(-1*var(--container-margin));
}

.sobre--image > img {
    width: 100%;
    border-radius: 0.25rem;
}

.sobre--image::before {
    content: '';
    position: absolute;
    top: -1.375rem;
    left: -1.375rem;
    width: 100%;
    height: 30%;
    background-color: var(--base-color-second);
    z-index: -1;
    border-radius: 0.25rem;
}

.sobre--main {
    width: 100%;
}

.sobre--main > h1 {
    margin-bottom: 0.75rem;
}

.sobre--main > p {
    margin-bottom: 0.8rem;
}

/*############### Serviços ###############*/

#servicos {
    padding: 10rem 0;
    background-color: var(--background1);
}

.servicos--text {
    margin-bottom: 4rem;
}

.servicos--text > h1{
    margin-bottom: 0.75rem;
}

.servicos--text > p {
    font-size: 1.125rem;
    color: var(--text-color);
}

.servicos--text > p > span{
    font-weight: bold;
    color: var(--base-color);
}

.servicos--cards {
    display: grid;
    gap: 1.5rem;
}

.servicos--cards .card {
    margin: 0 auto;
    padding: 3.6rem 3rem;
    background-color: var(--background0);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border-bottom: 4px solid var(--base-color);
}

.servicos--cards .card .icon{
    display: block;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--base-color);
}

.servicos--cards .card > h2 {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

.servicos--cards .card > p {
    text-align: center;
}

/*############### Depoimentos ###############*/

#depoimentos {
    padding: 5rem 0;
    background-color: var(--background0);
}

#depoimentos .text {
    margin-bottom: 4rem;
}

#depoimentos .card {
    margin: 0 2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    padding: 3.25rem;
}

#depoimentos .card > p {
    text-indent: 1.875rem;
    position: relative;
    margin-bottom: 1.5rem;
    line-height: 1.625rem;
    text-align: justify;
}

#depoimentos .card > p > span {
    position: absolute;
    left: -1.875rem;
    top: -0.6rem;
    color: var(--base-color);
    font: 400 3rem 'Georgia';
}

#depoimentos .card .customer {
    display: flex;
    align-items: center;
}

#depoimentos .card .customer > img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    border-radius: 50%;
}

.swiper-pagination {
    position: static;
    margin-top: 1rem;
}

/*############### Contato ###############*/

#contato {
    padding: 5rem 0;
    background-color: var(--background1);
}

#contato .container {
    display: grid;
}

#contato .text {
    width: 25.25rem;
}

#contato .text > h1 {
    line-height: 3.375rem;
    margin-bottom: 0.75rem;
}

#contato .text > p {
    margin-bottom: 1.5rem;
}

#contato .text .btn {
    font-weight: bold;
}

#contato .text .btn > .icon {
    margin-right: 0.5rem;
    color: var(--background0);
}

#contato .contacts .card {
    margin-bottom: 2rem;
    display: flex;
}

#contato .contacts .card .icon {
    margin-right: 0.5rem;
    color: var(--base-color);
}

/*############### Footer ###############*/

#footer {
    background-color: var(--base-color);
    padding: 3.75rem 0;
}

#footer .container {
    display: grid;
    gap: 2rem;
}

#footer .leftBox {
    width: 25.25rem;
}

#footer .leftBox .logo {
    font: 700 1.875rem 'Poppins', sans-serif;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

#footer .leftBox .logo > span {
    color: var(--background0);
}

#footer .leftBox > p {
    color: var(--background0);
    margin-bottom: 0.75rem;
}

#footer .socialMediaIcons {
    display: flex;
    justify-items: start;
    align-items: center;
    width: 25.25rem;
}

#footer .socialMediaIcons .icon {
    color: var(--background0);
    margin: 0 1rem;
}

/*############### MediaQuery ###############*/

@media screen and (max-width: 840px) {

    #header .icon--menu {
        display: block;
    }

    .header--menu {
        display: none;
    }

}

@media screen and (min-width: 841px) and (max-width: 1000px) {
}

@media screen and (min-width: 1001px) {
    .icon-close, .icon-menu {
        display: none;
    }

    #inicio .container {
        grid-template-columns: 35.5% 50%;
        gap: 10.5%;
    }

    .inicio--image {
        order: 2;
    }

    .inicio--main {
        order: 1;
    }

    .inicio--main {
        text-align: left;
    }

    #sobre .container {
        grid-template-columns: 35.5% 54.5%;
        gap: 5.7%;
    }

    .servicos--text {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    .servicos--cards {
        grid-template-columns: repeat(3, 30%);
        justify-content: center;
    }

    #depoimentos .text {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 4rem;
        text-align: center;
    }

    #contato .container {
        grid-template-columns: repeat(2, 36%);
        justify-content: space-between;
        align-items: center;
    }

    #footer .container {
        grid-template-columns: repeat(2, 36%);
    }

    #footer .socialMediaIcons {
        justify-content: end;
    }

}