:root {
    --color-background1: #F9F9F9;
    --color-primary: #69B99D;
    --color-dark: #0F241D;
    --color-light-gray: #E4E4E4;
    --color-gray: #767676;
    --color-secundary: #CCF4E6;
    --color-gradient: linear-gradient(to right, rgba(0,0,0,0), var(--color-primary));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--color-background1);
}

p {
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 4.5rem;
}

#header {
    width: 100%;
    height: 4.2rem;
    border-bottom: 1px solid var(--color-light-gray);
}

#header .container {
    position: relative;
    height: 100%;
} 

#header .logo {
    position: absolute;
    font-size: 1.5em;
    top:50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: var(--color-dark);
}

#header .logo span {
    color: var(--color-primary);
}

.nav {
    position: absolute;
    height: 100%;
    top:50%;
    transform: translateY(-50%);
    right: 0;
}

.nav--element {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 16px;
}

.btn--active {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
}

#inicio {
    width: 100%;
    padding-top: 9.2rem;
    border-bottom: solid 1px var(--color-primary);
}

.inicio--main {
    width: 33.3333%;
    padding-top: 1.6rem;
    padding-bottom: 10.75rem;
    float: left;
}

.inicio--main > h1 {
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
}

.inicio--main > p {
    margin-bottom: 1.5rem;
}

.inicio--main .btn {
    display: inline-flex;
    height: 3.12rem;
    background-color: var(--color-primary);
    color: var(--color-background1);
    padding: 0 2rem;
    border-radius: 0.25rem;
    align-items: center;
    font: 1rem;
}

.inicio--image {
    position: relative;
    width: 50%;
    margin-right: 50px;
    float: right;
}

.inicio--image img {
    width: 100%;
}

.inicio--image::before {
    content: '';
    position: absolute;
    top: -4.25rem;
    left: 6rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-secundary);
    z-index: -100;
}

/*############### SOBRE ###############*/

#sobre {
    clear: both;
}
